#listings-chart {
    padding-left: 1rem;
    padding-right: 1rem;
}

.QuickLinks {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.chartWrapper {
    position: relative;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartAreaWrapper {
    width: 100%;
    height: 30%;
    overflow-x: scroll;
}